* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  border: 10px solid black;
  overflow: hidden;
}

.box {
  height: 200px;
  width: 300px;
  flex-grow: 1;
  background-color: blue;
  border: 5px solid gray;
  text-align: center;
}

.box:active {
  border: 10px solid black;
  height: 250px;
  width: 350px;
  transition: 0.2s;
}
