* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 95vh;
  border: 20px solid black;
  flex-wrap: nowrap;
}

.box {
  height: 200px;
  width: 200px;
  background-color: blue;
  border: 5px solid gray;
  text-align: center;
  flex-basis: 20%;
}
