* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.box {
  height: 300px;
  width: 300px;
  margin-top: 5px;
  border: 5px solid;
  text-align: center;
}
